<!DOCTYPE html>
<html>
  <head>
    <title>Broken Youth | Carrito de Compras</title>
    <%- include('./partials/head.ejs')%>    
    <link rel='stylesheet' href='/stylesheets/carrito.css' />
  </head>
    <body>
        <%- include('./partials/header.ejs')%>  

        <main>
            
            <h2>FELICITACIONES!</h2>
            <h3>CERRASTE TU COMPRA POR $ <%= compra.precio_total%></h3>
            <ul>
                <h4>COMPRASTE:</h4>
                <% compra.compraProductos.forEach(compraProducto => { %>
                    <li>
                        <%= compraProducto.id %>
                    </li>
                <% }) %>
            </ul>
            
        </main>
        <%- include("./partials/footer") %>
  </body>
</html>
