<!DOCTYPE html>
<html>
  <head>
    <title>Broken Youth | Detalle de Producto</title>
    <%- include('./partials/head.ejs')%>
    <link rel='stylesheet' href='/stylesheets/product.css' />
  </head>
  <body>

    <%- include('./partials/header.ejs')%>
    
    <main>

        <section id="prod_img">

            <article>
                <img id="prod_main" src="/images/producto/<%= producto.imagen_ruta %>">
            </article>

            <!-- <article id="prod_sub">

                <div> <img class="prod_sub" src="/images/producto/inheritance_sub1.png"> </div>
                <div> <img class="prod_sub" src="/images/producto/inheritance_sub2.png"> </div>
                <div> <img class="prod_sub" src="/images/producto/inheritance_sub3.png"> </div>
                <div> <img class="prod_sub" src="/images/producto/inheritance_sub4.png"> </div>

            </article> -->

        </section>

       <section id="info">

            <article>

                <div id="prod_name"><%= producto.nombre %></div>
                <div id="prod_precio">$<%= producto.precio %></div>
                

            </article>

            <article  id="select_talle">

                <div class="elegir_talle">
                    <div id="talles">TALLES:</div><br>
                    <% producto.talles.forEach(talle => { %>
                        <div class="talles"><%= talle.id %></div>
                    <% }) %>
                </div>

                <a href="/product/agregarProducto/<%= producto.id %>"><bottom id="agregar_talle">AGREGAR</bottom></a>
                
                
            </article>

            <article id="descripcion">

                <div id="descrip_titulo">DESCRIPCIÓN</div>
                <div id="descrip_content"><%= producto.descripcion %></div>
            </article>

            
            <% if(admin == true){ %>
                <a href="/product/edicionProductos/<%=producto.id%>"><button class="edit-prod" >EDITAR</button></a>
                <form action="/product/borrar/<%=producto.id%>" method="POST">
                    <button type= "submit" edit-prod">BORRAR</button>
                </form>
            <% } %>

        </section>

    </main>

    <%- include("./partials/footer") %>

  </body>
<html>